.block {
    display: block;
}
.clear-after::after {
    clear: both;
}
.float-left {
    float: left;
}
.flag {
    background: no-repeat bottom center;
    background-clip: padding-box;
    background-size: cover;
    border-radius: 0.9em;
    margin-left: 0.30rem;
    height: 0.95rem;
    width: 1.40rem;
}
.flag.dk {
    background-image: url('/images/flags/dk.svg');
    background-position: top center;
}
.flag.en {
    background-image: url('/images/flags/uk.svg');
}
.flag.fr {
    background-image: url('/images/flags/fr.svg');
}
.flag.ht {
    background-image: url('/images/flags/ht.svg');
}
.flags {
    overflow: hidden;
    height: 1.20rem;
    transition: width 360ms linear;
    white-space: nowrap;
}
.grid {
    display:grid;
}
.hidden {
    display: none!important;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.inline-grid {
    display: inline-grid;
}
.lang-switcher.active .fa-language {
    color: #444;
}
.lang-switcher.inactive .fa-language {
    color: #AAA;
}
.lang-switcher.active .flags {
    width: 6.80rem;
}
.lang-switcher.inactive .flags {
    width: 1.70rem;
}
.line-after::after {
    content: "\a";
    white-space: pre;
}
.position-relative {
    position: relative;
}
.sudoku-grid {
    box-sizing: content-box;
}
.sudoku .grid-item {
    text-align: center;
    align-self: stretch;
}
.sudoku-grid .inner-borders {
    border: 1px solid #AAA;
    border-top-width: 0;
    border-left-width: 0;
}
.sudoku-grid .inner-borders-grid-bottom {
    border-bottom-width: 0;
}
.sudoku-grid .inner-borders-grid-left {
    border-left-width: 0;
}
.sudoku-grid .inner-borders-grid-right {
    border-right-width: 0;
}
.sudoku-grid .inner-borders-grid-top {
    border-top-width: 0;
}
.sudoku-grid .outer-borders {
    border: 2px solid black;
    margin: 0 -2px -2px 0;
}
.text-align-right {
    text-align: right;
}
