.block {
    display: block;
}
.bordercollapse-bottom {
    border-bottom: none!important;
}
.bordercollapse-left {
    border-left: none!important;
}
.bordercollapse-right {
    border-right: none!important;
}
.bordercollapse-top {
    border-top: none!important;
}
.cell {
    border: 1px solid #AAA;
    border-left: none;
    border-top: none;
    min-width: 4.0em;
    padding: 0.25em;
    text-align: center;
}
.clear-after::after {
    clear: both;
    display: block;
}
.float-left {
    float: left;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.line-after::after {
    content: "\a";
    white-space: pre;
}
.outerborder-bottom {
    border-bottom: 3px solid black!important;
}
.outerborder-left {
    border-left: 3px solid black!important;
}
.outerborder-right {
    border-right: 3px solid black!important;
}
.outerborder-top {
    border-top: 3px solid black!important;
}
.position-relative {
    position: relative;
}
.section {
    border: 3px solid black;
    border-bottom: none;
    border-right: none;
}
.text-align-right {
    text-align: right;
}
