.block {
    display: block;
}
.cell {
    /*
    border: 1px solid #AAA;
    border-left: none;
    border-top: none;
    min-width: 4.0em;
    padding: 0.25em;
    text-align: center; */
}
.clear-after::after {
    clear: both;
}
.float-left {
    float: left;
}
.grid {
    display:grid;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.inline-grid {
    display: inline-grid;
}
.line-after::after {
    content: "\a";
    white-space: pre;
}
.position-relative {
    position: relative;
}
.sudoku-grid {
    box-sizing: content-box;
}
.sudoku .grid-item {
    text-align: center;
    align-self: stretch;
}
.sudoku-grid .inner-borders {
    border: 1px solid #AAA;
    border-top-width: 0;
    border-left-width: 0;
}
.sudoku-grid .inner-borders-grid-bottom {
    border-bottom-width: 0;
}
.sudoku-grid .inner-borders-grid-left {
    border-left-width: 0;
}
.sudoku-grid .inner-borders-grid-right {
    border-right-width: 0;
}
.sudoku-grid .inner-borders-grid-top {
    border-top-width: 0;
}
.sudoku-grid .outer-borders {
    border: 2px solid black;
    margin: 0 -2px -2px 0;
}
.text-align-right {
    text-align: right;
}
